.flex {
    display: flex;
    .item {
        margin: 5px;
        // background: tomato;
        text-align: center;
        font-size: 1.5em;
        flex: 1;
    }
    
    .grow0 {
    flex-grow: 0;
    }
    .grow1 {
    flex-grow: 1;
    }
}

div.container {
    font-weight: bold;
}

.canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}

.Gauge {
    padding: 10px;
}
.speedometer {
    background-color: #263743;
    color: white;
    strong {
        font-size: 40px;
    }
}

table {
    font-size: 20px;
}
th {
    font-size:22px;
}
td {
    font-size:22px;
    font-weight: bold;
}

img {
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px 25px 0 0;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/icons.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }